@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<p style="text-align: right">LAB_USER_NUMBER：@Environment.GetEnvironmentVariable("LAB_USER_NUMBER")</p>
	<p style="text-align: right">LAB_USER_NAME：@Environment.GetEnvironmentVariable("LAB_USER_NAME")</p>
	<p style="text-align: right">DB_USERNAME：@Environment.GetEnvironmentVariable("DB_USERNAME")</p>
	<p style="text-align: right">DB_PASSWORD：@Environment.GetEnvironmentVariable("DB_PASSWORD")</p>
	<img src="~/images/aaa.jpg" />
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
