*.suo
*.user
*.vspscc
*.scc
*.DS_Store
App_Data
Tmp
bin
obj
TestResults
Logs
packages
WebStore/Frontend/MobileWebMallV2/TypeScripts/*.js
WebStore/Frontend/MobileWebMallV2/TypeScripts/*.js.map
WebStore/Frontend/MobileWebMallV2/TypeScripts/**/*.js
WebStore/Frontend/MobileWebMallV2/TypeScripts/**/*.js.map
WebStore/Frontend/MobileWebMallV2/Components/**/*.js
WebStore/Frontend/MobileWebMallV2/Components/**/*.js.map
WebStore/Frontend/MobileWebMallV2/ClientApp/configs/**/*.js
WebStore/Frontend/MobileWebMallV2/ClientApp/configs/**/*.js.map
WebStore/Frontend/MobileWebMallV2/ClientApp/lib/**/*.js
WebStore/Frontend/MobileWebMallV2/ClientApp/lib/**/*.js.map
WebStore/Frontend/MobileWebMallV2/ClientApp/tracking/**/*.js
WebStore/Frontend/MobileWebMallV2/ClientApp/tracking/**/*.js.map
WebStore/Frontend/MobileWebMallV2/ClientApp/src/**/*.js
WebStore/Frontend/MobileWebMallV2/ClientApp/src/**/*.jsx
WebStore/Frontend/MobileWebMallV2/ClientApp/src/**/*.js.map
WebStore/Frontend/MobileWebMallV2/ClientApp/typings/**/*.js
WebStore/Frontend/MobileWebMallV2/ClientApp/typings/**/*.js.map
WebStore/Frontend/MobileWebMallV2/ClientApp/out/
WebStore/Frontend/MobileWebMallV2/Scripts/dist/
WebStore/Frontend/MobileWebMall/Scripts/dist/
StyleCop.Cache
.idea/
.vs/
Backup*/
UpgradeLog*.htm
*.Cache
.sass-cache/
node_modules/
JsDocs/
npm-debug.log
Enums.js
Enums.js.map
WebStore/Frontend/MobileWebMallV2/Test/E2E/report/report.json
WebStore/Frontend/MobileWebMallV2/Test/Unit/Coverage/**/*.html
WebStore/Frontend/MobileWebMallV2/Test/Unit/Coverage/**/*.css
WebStore/Frontend/MobileWebMallV2/Test/Unit/Coverage/**/*.js
WebStore/Frontend/MobileWebMallV2/Test/Unit/Coverage/**/*.png
[Ss]assdoc/
.history/
.localhistory/
Dest
WebStore/Frontend/MobileWebMallV2/Scripts/Templates/mall.templates.js
WebStore/Translation/i18n/**/*
local.setting.json
WebStore/Translation/generate.txt
buildLog.txt

# Cake
tools/**
!tools/packages.config

# MsaConfigs
msa-configs.build

# SpecFlow
*.feature.cs
